<div class="sidebar-wrapper">
    <!-- Fragment: sidebar -->
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text">
            MIXISHOP
        </a>
    </div>

    <ul class="nav">
        <li class="active">
            <a href="/admin">
                <i class="pe-7s-graph"></i>
                <p>Trang chủ</p>
            </a>
        </li>

        <li>
            <a href="/admin/categogy">
                <i class="pe-7s-note2"></i>
                <p>Danh sách nhóm sản phẩm</p>
            </a>
        </li>

        <li>
            <a href="/admin/products">
                <i class="pe-7s-note2"></i>
                <p>Danh sách sản phẩm</p>
            </a>
        </li>

        <li>
            <a href="/admin/order-list">
                <i class="pe-7s-note2"></i>
                <p>Danh sách đơn hàng</p>
            </a>
        </li>

        <li>
            <a href="/admin/order-pending">
                <i class="pe-7s-note2"></i>
                <p>Danh sách đơn hàng chờ phê duyệt</p>
            </a>
        </li>
    </ul>
</div>